body{
    color: black;
    min-height: 100%;
    font-size: 24px;
    text-align: center;
}

h2{
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
}

h3{
    text-align: center;
   width: 200px;
   font-size: 40px;
   margin: 1px;
}

header{
  background-color:darkred;
  font-size: 30px;
  text-align: start;
}

.LixoHospitalar{
    width: 500px;
    border: solid black ;
    margin-left: 50%;
    border-width: 30px;

} 

html {
    height: 50%;
    background-color: 211, 211, 211
}   

footer{
    background-image: url("vermelhão.jpg")
}